body{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(26, 0, 0); // is shown before image loads
    background-image: url("../../../../assets/images/researcherAuthMultiply.jpg");
    background-size: cover;
    background-position: center;
}

.login-card{
    margin: auto;


}
