// body{
//     font-family: 'Open Sans', sans-serif;
//     background-color: rgb(26, 0, 0); // is shown before image loads
//     background-image: url("../../../../assets/images/researcherAuthMultiply.jpg");
//     background-size: cover;
//     background-position: center;
// }

.login-page{
    margin: auto;
    
    background-image: url("../../../../assets/images/researcherAuthMultiply.jpg");


}

.disclaimer{
    margin-left:auto;
    margin-right:auto;
}
.paragraph{
    font-weight: 400;
}